body {

  width: 500px;
  height: 700px;

  background-image:url(150329shiro.JPG);
  background-repeat: no-repeat;
  background-size: 545px 770px;
  background-position: center top 15px;

  
  margin-right: auto;
  margin-left : auto;
}


h5 {
    color:lightgray;
  }
  
.face {
  color: #FDFFFF;
  opacity:0.6   /*空に少し透ける感じ*/
  }      

.back {
  color: tomato;
  opacity:0.5       /*透ける*/
}

button {     /*右端角を丸く*/
  padding: 5px 15px;
  background-color: tomato;
  color: #FDFFFF;
  border-style: none;
  border-radius:0px 10px 10px 0px;
}

input {       /*左端角を丸く*/
  height: 27px;
  border-style: none;
  border-radius:10px 0px 0px 10px;
}

p {
    color:#FDFFFF;
     /*position: relative; 
     top:-10px; */
}

a {           
    color:#FDFFFF;   
   }

a.btn {
    margin: 0 auto;
    background-size: 120%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 120px;
    height: 120px;
    padding: 40px 0;
    line-height: 20px;
    border: double 4px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
    transition: .6s;
    position:fixed;	
	bottom:50px;
	right:525px;
}
 
a.btn:hover {
    transform: rotateY(360deg);
}
