body {

  width: 500px;
  height: 700px;

  background-image:url(150329shiro.JPG);
  background-repeat: no-repeat;
  background-size: 545px 770px;
  background-position: center top 15px;

  
  margin-right: auto;
  margin-left : auto;
}


h5 {
    color:lightgray;
  }
  
.face {
  color: #FDFFFF;
  opacity:0.6   /*空に少し透ける感じ*/
  }      

.back {
  color: tomato;
  opacity:0.5    /*透ける*/
}

/*「うまか~」のふきだし部分(issues #1 へ移動)*/


button {         /*右端角を丸く*/
  padding: 5px 15px;
  background-color: tomato;
  color: #FDFFFF;
  border-style: none;
  border-radius:0px 10px 10px 0px;
}

input {           /*左端角を丸く*/
  height: 27px;
  border-style: none;
  border-radius:10px 0px 0px 10px;
}

p {
    color:#FDFFFF;
     /*position: relative; 
     top:-10px; 
}

a {           
    color:#FDFFFF;   
   }

